@import "./variables";

.show {
    .image-container {
        overflow: hidden;
        background-color: green;
        display: flex;
        // justify-content: center;
        align-items: start;
        img {
            object-fit: cover;
            width: 600px;
            height: 600px;
            width: 100%;
            text-align: center;
        }
    }
}
